@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
main{
    width:20%;
    min-height:210px;
    box-shadow:3px 4px 10px rgb(255, 140, 140);
    border-radius:10px;
    margin:30px 50px;
}
h2{
    padding:15px 60px;
    font-size:19px;
}
label{
    font-weight:700;
    padding:0 25px;
}
input{
    margin:10px 25px;
    border-radius:2px;
    padding:4px 4%;
    border:2px solid rgb(138, 138, 138);
}
div input{
    background:none;
    border:2px solid rgb(255, 223, 183);
    width:30%;
    font-weight:bold;
    cursor:pointer;
}
section{ 
    padding:10px 20px;
}